
# WARMUP SECTION:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        print(min(a,b))
    else:
        print(max(a,b))

In [1]:
def h_of_2odds(x,y):
    if x%2!=0 and y%2!=0:
        print(max(x,y))
    else:
        print(min(x,y))

In [5]:
lesser_of_two_evens(2,4)

2

In [6]:
lesser_of_two_evens(2,5)

5

In [2]:
h_of_2odds(5,11)

11

In [3]:
h_of_2odds(2,99)

2

ANIMAL CRACKERS: 

Write a function takes a two-word string and returns True if both words begin with same letter

    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    
    a_list = text.split()
    return a_list[0][0]==a_list[1][0]

In [80]:
animal_crackers('Levelheaded Llama')

True

In [81]:
animal_crackers('Crazy Kangaroo')

False

In [5]:
animal_crackers('Carzy cat') #case sensitive

False

In [6]:
animal_crackers('Dizzy Dog')

True


MAKES TWENTY: 

Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [33]:
def makes_twenty(a,b):
    if a==20 or b==20:
        return True
    elif (a+b)==20:
        return True
    else:
        pass
    return False

In [34]:
makes_twenty(20,10)

True

In [35]:
makes_twenty(12,8)

True

In [40]:
makes_twenty(2,3)

False

In [9]:
#Simple Solution
def makes_twenty(a,b):
    return (a+b)==20 or a==20 or b==20

In [10]:
makes_twenty(10,10)

True

# LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
    
    old_macdonald('macdonald') --> MacDonald

In [11]:
def old_macdonald(name):
    a_list=[]
    for index,letter in enumerate(name):
        if index==0 or index==3:
            letter = letter.upper()
        a_list.append(letter)
    str1 = ''.join(a_list)
    print(str1)

In [12]:
list_2 = ['H','E','L','L','O']
str_2 = ''.join(list_2) #can join a list into string by given attribute in between
print(str_2)

HELLO

In [17]:
def cap_them(name):
    list_1 = []
    for index,letter in enumerate(name):
        if index==0 or index==3:
            letter=letter.upper()
        list_1.append(letter)
    
    str1 = ''.join(list_1)
    print(str1)

In [14]:
old_macdonald('macdonald')

MacDonald

In [18]:
cap_them('samjunior')

SamJunior

In [1]:
name='nyname'
name.capitalize() #capitalize() only works on first one

'Nyname'

In [84]:
#Simple Solution
#Note: 'macdonald'.capitalize() returns 'Macdonald'

def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [87]:
old_macdonald('macdonald')

'MacDonald'


MASTER YODA: 
    
   Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'

In [108]:
def master_yoda(text):
    a_list=text.split()        #convert the string into a List
    a_list.reverse()           #reverse the order of the string
    return ' '.join(a_list)    #join the list back to form a String

In [109]:
master_yoda('I am home')

'home am I'

In [14]:
txt = 'I am home'
list1=txt.split()
list1[::-1]       #not a inplace function so list1 remain same
print(list1)
list1.reverse()  #an inplace funcition; replaces the original value
print(list1)

['I', 'am', 'home']
['home', 'am', 'I']

In [110]:
master_yoda('We are ready')

'ready are We'

In [111]:
#Simple Solution
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [112]:
master_yoda('We are ready')

'ready are We'


ALMOST THERE: 

Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: abs(num) returns the absolute value of a number

In [4]:
def almost_there(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)

In [5]:
almost_there(90)

True

In [6]:
almost_there(89.99999999)

False

In [18]:
almost_there(110.000000000000001)

True

In [120]:
almost_there(104)

True

In [121]:
almost_there(150)

False

In [122]:
almost_there(209)

True

# LEVEL 2 PROBLEMS

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [144]:
def has_33(nums):
    count=len(nums)-1
    while count>0:
        if nums[count] ==3 and nums[count-1]==3:
            return True
        count-=1
    return False

In [145]:
has_33([1, 3, 3])

True

In [146]:
has_33([1, 3, 1, 3])

False

In [147]:
has_33([3, 1, 3])

False

In [15]:
#Simple Solution

def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [149]:
has_33([3, 1, 3])

False

In [16]:
has_33([1, 3, 3])

True

In [17]:
num=[0,1,2,3,4]
num[0:2]

[0, 1]

PAPER DOLL: 

Given a string, return a string where for every character in the original there are three characters

    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [179]:
def paper_doll(text):
    str1=''
    for letter in text:
        str1 += letter*3
    return str1

In [180]:
paper_doll('Hello')

'HHHeeellllllooo'

In [181]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK:

Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [36]:
def blackjack(a,b,c):
    total = sum((a,b,c))
    if total<=21:
        return total
    elif total<=31 and 11 in (a,b,c):
        return total-10
    else:
        return 'BUST'

In [37]:
blackjack(5,6,7)

18

In [38]:
blackjack(9,9,9)

'BUST'

In [32]:
blackjack(9,9,11)

19

In [34]:
blackjack(10,11,11)

'BUST'

In [18]:
# Simple Solution

def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [208]:
blackjack(9,9,9)

'BUST'

In [35]:
blackjack(10,11,11)

'BUST'

SUMMER OF '69: 

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [11]:
#this will work if there is only one 69 pair
def summer_69(arr):
    num=0
    for c1 in range(0,len(arr)):
        if arr[c1]==6:
            break
        num = num + arr[c1]
    c2 = c1 +1
    for c2 in range(c2,len(arr)):
        if arr[c2]==9:
            break
        pass
    for c3 in range(c2+1,len(arr)):
        num = num + arr[c3]
    return num

In [12]:
summer_69([1, 3, 5])

9

In [13]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [14]:
summer_69([2, 1, 6, 9, 11])

14

In [15]:
# Better Solution
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [17]:
summer_69([1, 1, 6, 7, 9, 1, 1, 6, 9, 1])

5

# CHALLENGING PROBLEMS

SPY GAME: 

Write a function that takes in a list of integers and returns True if it contains 007 in order
     
     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [39]:
#Here we took the code in a list and we will pop it's item if it matches the list of integer.
# Thus if all the item matches there will only be one item left in code which makes the length of the code 1.

def spy_game(a_list):
    
    code= [0,0,7,'x']
    
    for num in a_list:
        if num == code[0]:
            code.pop(0)
        
    return len(code)==1

In [40]:
spy_game([1,2,4,0,0,7,5])

True

In [41]:
spy_game([1,0,2,4,0,5,7])

True

In [22]:
spy_game([1,7,2,0,4,5,0])

False


COUNT PRIMES: 

Write a function that returns the number of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [57]:
def count_primes(num):
    primes = [2]
    x = 3
    
    if num < 2:  #In case of num = 0 or 1
        return 0
    
    while x <= num:
        
        for y in range(3,x,2):  # test all odd factors up to x-1
            
            if x%y == 0:        #if true then break the loop and add work with the next prime-candidate
                x+=2
                continue 
                
        primes.append(x)                            
        
        x += 2
        
        
    print(primes)
    return len(primes)

In [59]:
count_primes(40)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]

13