# split()

In [5]:
strng = "This is a string that we are going to split."

In [6]:
mylist=strng.split()

In [7]:
mylist

['This', 'is', 'a', 'string', 'that', 'we', 'are', 'going', 'to', 'split.']

# range()

In [9]:
#genarate numbers-
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [10]:
mylist2=[]
for num in range(0,11):
    mylist2.append(num)
print(mylist2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
mylist3=[]
for num in range(1,11):
    if num%2==0:
        mylist3.append(num)
print(mylist3)

[2, 4, 6, 8, 10]

# enumerate()
    does autometic index count

In [13]:
index_count = 0
word = 'abcdef'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e
f

In [14]:
word = 'abcdef'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')

# zip()
    # Pair up multiple list into tuples
    # Return tuples
    # zip by the length of shortest lisst

In [15]:
mylist4 = [1,2,3,4]
mylist5 = ['a', 'b', 'c']

for item in zip(mylist4,mylist5):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [16]:
list(zip(mylist4,mylist5))

[(1, 'a'), (2, 'b'), (3, 'c')]

# in

In [17]:
'a' in 'hello'

False

In [18]:
'h' in 'hello'

True

In [19]:
'H' in 'hello'

False

In [20]:
2 in [1,2,3]

True

In [21]:
'k1'in {'k1':123}

True

In [22]:
d ={'k1':123}
123 in d.values()

True

# min() & max()

In [23]:
list1 =[3, 1, 2, 5, 10]

In [24]:
min(list1)

1

In [25]:
max(list1)

10

# random library

In [26]:
#shuffle

In [27]:
from random import shuffle

list2 = [1,2,3,4,5,6,7,8,9]
shuffle(list2)
#Doesn't return because it's an in-place function

In [28]:
list2

[4, 1, 8, 2, 5, 7, 3, 6, 9]

In [29]:
#random integer randint(lowerRange, UpperRange)

In [30]:
from random import randint
randint(0,10)

10

In [31]:
num=randint(0,10)
num

2

# input()
    # Pass everything as string by-default

In [33]:
myname = input('Enter your name: ')

Enter your name: Mamun

In [34]:
myname

'Mamun'

In [39]:
myage = input('Enter your age: ')

Enter your age: 25

In [40]:
myage

'25'

In [41]:
type(myage)

str

In [42]:
myage = int(input('Enter your age: '))

Enter your age: 25

In [43]:
myage

25

In [44]:
type(myage)

int

# List Comprehension
    # A unique way of quickly creating a list

In [47]:
#normal way
list3 = []
for item in 'hello':
    list3.append(item)
print(list3)

['h', 'e', 'l', 'l', 'o']

In [53]:
word = 'hello'
list4 = [item for item in word]
print(list4)

['h', 'e', 'l', 'l', 'o']

In [55]:
list5 = [x for x in word]

In [56]:
list5

['h', 'e', 'l', 'l', 'o']

In [57]:
list6 = [num for num in range(0,11)]
print(list6)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
list6 = [num**2 for num in range(0,11)]
print(list6)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
list6 = [num for num in range(0,11) if num%2==0]
print(list6)

[0, 2, 4, 6, 8, 10]

In [61]:
#celcius to  fahrenheit

celcius = [0, 10, 15, 25, 30.5]

fahrenheit = [( (9/5)*temp + 32 ) for temp in celcius]
print(fahrenheit)

[32.0, 50.0, 59.0, 77.0, 86.9]